/*---------- General ----------*/
:root{
    --blue: #13A1DC;
    --blue-light: #00DEF3;
    --dark: #303030;
    --blue-text: #40B3E2;
}

@font-face{
  font-family: GothamBlack;
  src: url('../fonts/Gotham Black.ttf'),
  url('../fonts/Gotham Black.woff') format('woff'),
  url('../fonts/Gotham Black.otf') format('opentype'),
  url('../fonts/Gotham Black.ttf') format('tryetype');

}
@font-face{
  font-family: GothamBook;
  src: url('../fonts/Gotham Book.ttf'),
  url('../fonts/Gotham Book.woff') format('woff'),
  url('../fonts/Gotham Book.otf') format('opentype'),
  url('../fonts/Gotham Book.ttf') format('tryetype');

}
@font-face{
  font-family: GothamBold;
  src: url('../fonts/Gotham Bold.ttf'),
  url('../fonts/Gotham Bold.woff') format('woff'),
  url('../fonts/Gotham Bold.otf') format('opentype'),
  url('../fonts/Gotham Bold.ttf') format('tryetype');

}

body {
  font-family: 'Roboto', sans-serif;
    color: #444444;
  }
  
  a {
    color: var(--blue-light);
  }
  
  a:hover {
    color: var(--blue-light);
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: GothamBlack;
  }
  p{
    color: var(--dark);
    font-family: GothamBook;
  }
  section{
    padding: 30px 0;
  }
  p.text-color-blue{
    color: var(--blue);
    font-family: GothamBold;
  }

  .divider{
    height: 1px;
    background-color: var(--blue);
    width: 50%;
    margin: 5px auto;
  }

  
.animate__animated.animate__fadeIn, 
.animate__animated.animate__fadeInRight, 
.animate__animated.animate__fadeInLeft{
  --animate-duration: 2s;
}
  





/*---------- Back to top button ----------*/
.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
  }
  
  .back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: var(--blue-light);
    color: #fff;
    transition: all 0.4s;
  }
  
  .back-to-top i:hover {
    background: var(--blue-light);
    color: #fff;
  }

  /*---------- Header ----------*/

  .logo{
      width: 250px;
  }
  

  .uppercase{
      text-transform: uppercase;

  }
  .navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: none !important;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: none !important;
    border-radius: .25rem;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--blue);
}
  /*---------- Carousel ----------*/

  .carousel .carousel-item{
      height: auto;
  }

  .carousel .carousel-item > *:first-child{
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        height: inherit;
}

/*---------- Card form ----------*/
.form-contact{
  margin-top: -100px;

}

/* CARD */

.card, .card-header, .card-footer{
  background-color: #fff;
  border: none;
  padding: 0;
}
.card .card-header h3.title{
  font-size: 35px;
}

.card-img {
  max-width: 100%;
  height: 400px;
  object-fit: cover;
}
section#slider .card{
  padding: 20px;
  background-color: #fff;
  border: none;
}

section#slider .card .card-header{
  background-color: #fff;
  border-bottom: none;
}
section#slider .card .card-header h4{
  color: var(--blue);
}
section#slider .card .card-form input.form-control, textarea.form-control{
  border: 1px solid #E6E6E6;
  margin: 5px;
  
}

::placeholder{
  color: #e6e6e6;
  font-size: 15px;
}

section#slider .card .card-footer{
  background-color: #fff;
  border-top: none;
}

.form-check .form-check-label{
  font-size: 13px;
}

section#slider{
  padding: 0;
}




  /*---------- Botones ----------*/

a.button{
    background-color: var(--blue);
    color: #fff !important;
    border-radius: 0  !important;
    font-family: GothamBold;
    padding: 16px 32px;
}
a.button:hover{
  border: 1px solid var(--blue);
  background-color: #fff;
  color: var(--blue) !important;

}

.form button{
  background-color: var(--blue);
  color: #fff !important;
  border-radius: 0  !important;
  font-family: GothamBold;
  padding: 10px 32px;
}
.form button:hover{
  border: 1px solid var(--blue);
  background-color: #fff;
  color: var(--blue) !important;

}
.btn-outline-primary{
  font-family: GothamBold;
  border: 1px solid var(--blue);
  color: var(--blue);
  padding: 16px 32px;
  border-radius: 0;
}
.btn-outline-primary:hover{
  background-color: var(--blue);
}

  /*---------- Titulos ----------*/

.title{
  color: var(--blue);
  font-size: 50px;
}

.title span{
  color: var(--blue-light);
}
.title p {
  font-size: 30px;
  color: var(--blue);
  font-family: GothamBold;
}


section#asesor{
  background-image: url(../images/image_001.jpg);
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 10px;
}

.bg-zero{
  background-image: url(../images/zero-imagen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(4px);

}
.bg-blue{
  background-color: var(--blue);
  color: #fff;
  padding: 60px;
}
.bg-blue p{
  color: #fff;
}

.bg-blue .btn-outline-primary {
  font-family: GothamBold;
  border: 1px solid #fff;
  color:  #fff;
  padding: 16px 32px;
  border-radius: 0;
}

.bg-blue .btn-outline-primary:hover {
  border: 1px solid #fff;
  color:  var(--blue);
  background-color: #fff;
}

footer{
  background-color: #000;
  padding: 20px 0;
}
footer p{
  color: #fff;
  line-height: 1;
  padding: 0;
  margin: 0;
}

img.img-400{
  width: 100%;
  height: 400px;
  object-fit: cover;
}

h3 p{
  color: var(--dark) !important;
  font-family: GothamBlack;
}


 /*--- Landing Asesor ---*/

#asesor .card{
  padding: 30px 20px;
}

#asesor .card .card-header h5{
  font-size: 16px;
  color: var(--blue-text);
}
#asesor .card .card-header p{
  margin: 0;
  font-size: 13px;
}


#asesor #regAsesor input.form-control {
  width: 30%;
  margin: 0 auto;
}

#asesor .card-img {
  max-width: 100%;
  height: auto; 
  object-fit: cover;
}
#asesor h4{
  color: var(--blue);
  font-family: GothamBold;
}
#asesor h4 span{
  color: var(--blue-light);
  font-size: 12px;
}

#asesor .card-body.asesor p{
  color: var(--blue);
  margin: 0;
  font-size: 13px;
  font-family: GothamBold;
}

#asesor .card-body.asesor  a.button {
  background-color: var(--blue);
  color: #fff !important;
  border-radius: 0 !important;
  font-family: GothamBold;
  padding: 10px 20px;
}

 /*--- Lista Asesor ---*/
#asesor .card-body.asesor ul{
  padding-inline-start: 20px;
}
#asesor .card-body.asesor ul li{
  font-size: 13px;
  color: var(--blue-light);
}
::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
  color: var(--blue-light);
}


.circle{
  width: 80px;
  height: 80px;
  background-color: var(--blue-light);
  margin: -50px 0 0 0;
  padding: 10px;
  text-align:  center;

 
}

.circle p, .circle span{
  font-size: 10px !important;
  color: #fff;
  line-height: 1.3;
}

.circle .options p{
  font-size: 9px !important;
  color: #fff !important;
  font-family: 'Roboto', sans-serif  !important;
  margin: 0;
  padding: 0;
}



  /*---------- Media ----------*/

  @media only screen and (max-width:375px){
    .logo{
        width: 160px;
    }
    .title{
      font-size: 30px;
    }
    .form-contact{
      margin-top: 0px;
    
    }
    .card-img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
    ul.navbar-nav.nav-link, ul.navbar-nav.nav-link li {
      display: inline-block;
    }
    ul.navbar-nav.nav-link li i{
      padding: 0 5px ;
    }
  }

  